ion-content {
    --ion-background-color: #f4f4f4;
  }
  
  ion-card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-header {
    background-color: #c7c8ca;
    color: #fff;
  }
  
  ion-card-content {
    font-size: 18px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  