<ion-header>
  <ion-toolbar>
    <ion-button (click)="volverAInicio()"> Volver a Inicio </ion-button>
    <ion-title>Rutinas de Ejercicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Espalda</ion-card-header>
    <ion-card-content>
      <!-- Rutina de ejercicios para espalda -->
      <img src="../../assets/images/espalda2.jpg" alt="espalda" class="img">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Pecho</ion-card-header>
    <ion-card-content>
      <!-- Rutina de ejercicios para pecho -->
      <img src="../../assets/images/pecho.png" alt="pecho" class="img">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Piernas</ion-card-header>
    <ion-card-content>
      <!-- Rutina de ejercicios para piernas -->
      <img src="../../assets/images/piernas.png" alt="piernas" class="img">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Abdomen</ion-card-header>
    <ion-card-content>
      <!-- Rutina de ejercicios para abdomen -->
      <img src="../../assets/images/abdomen2.jpg" alt="abdomen" class="img">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Gemelos</ion-card-header>
    <ion-card-content>
      <!-- Rutina de ejercicios para gemelos -->
      <img src="../../assets/images/gemelos.jpg" alt="gemelos" class="img">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Hombros</ion-card-header>
    <ion-card-content>
      <!-- Rutina de ejercicios para hombros -->
      <img src="../../assets/images/hombros.jpg" alt="hombros" class="img">
    </ion-card-content>
  </ion-card>
</ion-content>