.fondo-side-menu {
    background-image: url(../../../assets/images/patron_pesas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.no-scroll {
    overflow: hidden;
}