<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="fondo-side-menu">
        <p> Dias Registrados: </p>
        <p> Dias Asistidos: </p>
        <p> Asistencia: </p>
        <br>
        <br>
        <p> IMC: </p>
        <p> Peso: </p>

      </div>
      <ion-list>
        <ion-item [routerLink]="['/inicio']"><ion-icon name="home"></ion-icon> Inicio </ion-item>
        <ion-item [routerLink]="['/inicio']"><ion-icon name="calendar"></ion-icon> Calendario </ion-item>
        <ion-item [routerLink]="['/inicio']"><ion-icon name="cog"></ion-icon> Ajustes </ion-item>
        <ion-item [routerLink]="['/inicio']"><ion-icon name="radio"></ion-icon> Noticias </ion-item>
        <ion-item [routerLink]="['/inicio']"><ion-icon name="power"></ion-icon> Cerrar sesion </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>