ion-content {
    --ion-background-color: #f4f4f4;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  ion-card {
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-header {
    background-color: #bcbfc3;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  ion-card-title {
    font-size: 20px;
  }
  
  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }