<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Bienvenido {{usuario.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-card (click)="irAEjercicios()">
      <img src="../../assets/images/imagen_para_ejercicio.jpg" alt="Ejercicios">
      <ion-card-header>
        Ejercicios
      </ion-card-header>
    </ion-card>
  
    <ion-card (click)="irARutinas()">
      <img src="../../assets/images/rutina.jpg" alt="Rutinas">
      <ion-card-header>
        Rutinas
      </ion-card-header>
    </ion-card>

    <ion-card >
      <img src="../../assets/images/imagen_ejercicio_extra.jpg" alt="Extras">
      <ion-card-header>
        Extras
      </ion-card-header>
    </ion-card>
  
    <ion-card (click)="irANutricion()">
      <img src="../../assets/images/foto_de_fruta.jpg" alt="Nutrición">
      <ion-card-header>
        Nutrición
      </ion-card-header>
    </ion-card>


  </ion-content>

  


