<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div *ngIf="usuario">
      <p>{{ usuario.nombre }}</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-card (click)="irAEjercicios()">
      <img src="../../assets/images/pesas-ejercicio-mancuernas-hierro-placas-extra (1).jpg" alt="Ejercicios">
      <ion-card-header>
        Rutinas de Ejercicios
      </ion-card-header>
    </ion-card>
    
    <ion-card (click)="irARutinas()">
      <img src="../../assets/images/foto_de_fruta.jpg" alt="Rutinas">
      <ion-card-header>
        Recetas Saludables
      </ion-card-header>
    </ion-card>


    <ion-card (click)="irAExtras()">
      <img src="../../assets/images/imagen_ejercicio_extra.jpg" alt="Extras">
      <ion-card-header>
        Extras
      </ion-card-header>
    </ion-card>

    <ion-card (click)="irACalculadora()">
      <img src="../../assets/images/rutina.jpg" alt="Nutrición">
      <ion-card-header>
        Calculadora
      </ion-card-header>
    </ion-card>


  </ion-content>