ion-card {
    position: relative;
    text-align: center;
    transition: transform 0.1s;
  }
  

  ion-card img {
    width: 100%;
    height: auto;
  }
  
 
  ion-card-header {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-size: 40px; 
    font-weight: bold; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  
  ion-card:hover {
    transform: scale(1.05); 
  }
  
  
  
  