<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ categoria }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let video of videos">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ video.snippet.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <iframe width="100%" height="315" [src]="getVideoUrl(video.id)" frameborder="0" allowfullscreen></iframe>
            <p>{{ video.snippet.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>