div {
    margin-bottom: 20px; /* Ajusta el espacio entre los videos */
  }
  
  iframe {
    width: 100%; /* Haz que los videos ocupen todo el ancho del contenedor */
  }
  
  h2 {
    color: #333; /* Cambia el color del título */
    font-size: 1.5rem; /* Ajusta el tamaño del título */
  }
  
  p {
    color: #666; /* Cambia el color de la descripción */
  }