<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ categoria }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Video de YouTube arriba -->
 

  <!-- Tarjeta para escribir ejercicios abajo -->
  <ion-card>
    <ion-card-header>
      Ejercicios
    </ion-card-header>
    <ion-card-content>
      <!-- Aquí puedes agregar un formulario o un área de texto para escribir los ejercicios relacionados con el video -->
    </ion-card-content>
  </ion-card>
</ion-content>